@model IEnumerable<Product>


@if (Model.Any())
{
    var featuredList = Model.ToArray();


    <div class="block-products__featured">
        <div class="block-products__featured-item">
            <div class="product-card">
                    <div class="product-card__image">
                        <a href="#">
                            <img src="@featuredList[0].Photos.Where(y => y.ProductId == featuredList[0].Id).Select(x => x.PhotoPath).FirstOrDefault().ToString()" alt="@featuredList[0].ProductName">
                        </a>
                    </div>
                    <div class="product-card__info">
                        <div class="product-card__name">
                            <a href="#">@featuredList[0].ProductName</a>
                        </div>
                    </div>
                    <div class="product-card__actions">
                        <div class="product-card__prices">$@featuredList[0].ProductPrice</div>
                        <div class="product-card__buttons">
                            <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                <svg width="16px" height="16px">
                                    <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                </svg>
                                <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                            </button>
                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                <svg width="16px" height="16px">
                                    <use xlink:href="images/sprite.svg#compare-16"></use>
                                </svg>
                                <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="block-products__list">
        @for (int i = 1; i < 7; i++)
        {
            <div class="block-products__list-item">
                <div class="product-card">
                    <div class="product-card__image">
                        <a href="product.html">
                            <img src="@featuredList[i].Photos.Where(y => y.ProductId == featuredList[i].Id).Select(x => x.PhotoPath).FirstOrDefault().ToString()" alt="@featuredList[i].ProductName">

                        </a>
                    </div>
                    <div class="product-card__info">
                        <div class="product-card__name">
                            <a href="#">@featuredList[i].ProductName</a>
                        </div>
                    </div>
                    <div class="product-card__actions">
                        <div class="product-card__prices">$@featuredList[i].ProductPrice</div>
                        <div class="product-card__buttons">
                            <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                <svg width="16px" height="16px">
                                    <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                </svg>
                                <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                            </button>
                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                <svg width="16px" height="16px">
                                    <use xlink:href="images/sprite.svg#compare-16"></use>
                                </svg>
                                <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}