@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Parent Category 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (item.ParentId == null)
            {
                <td class="col-sm-10">
                    None
                </td>
            }
            else
            {
                <td class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
