@model Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDiscount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
