@{
    ViewData["Title"] = "Home Page";
}

@model HomePageViewModel
<!-- .block-slideshow -->
<div class="block-slideshow block-slideshow--layout--with-departments block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block"></div>
            <div class="col-12 col-lg-9">
                <div class="block-slideshow__body">
                    <div class="owl-carousel">
                        @foreach (var item in Model.Slides)
                        {
                            <a class="block-slideshow__slide" asp-action="BlogPost" asp-route-id="@item.Id" asp-controller="Blog">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('@item.Photos.Where(y=>y.BlogId==item.Id).Select(x=>x.PhotoPath).FirstOrDefault().ToString()'); background-size:contain">
                                </div>
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('@item.Photos.Where(y=>y.BlogId==item.Id).Select(x=>x.PhotoPath).FirstOrDefault().ToString()'); background-size:contain"></div>
                                <div class="block-slideshow__slide-content">
                                    <div class="block-slideshow__slide-title">
                                        @item.BlogTitle
                                    </div>
                                    <div class="block-slideshow__slide-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <br>Etiam pharetra laoreet dui quis molestie.
                                    </div>
                                    <div class="block-slideshow__slide-button">
                                        <span class="btn btn-primary btn-lg">Shop Now</span>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-slideshow / end -->
<!-- .block-features -->
<div class="block block-features block-features--layout--classic">
    <div class="container">
        <div class="block-features__list">
            <div class="block-features__item">
                <div class="mr-3">
                    <img src="~/images/Kredit-az.jpeg" alt="Kredit" />
                </div>
                <div class="block-features__content">
                    <div class="block-features__title"><strong>√</strong> SmileCard <strong>√</strong> Bolkart <strong>√</strong> Albalı <strong>√</strong> Worldcard </div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="mr-3">
                    <img src="~/images/fb-az.jpeg" alt="Feysbukda izlə" />
                </div>
                <div class="block-features__content">
                    <div class="block-features__title"><span style="color: #ff0000;">100 000 </span> <strong>+</strong> Abunə ol ! Bizim səhifədə son yenilikləri izləyin</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-features / end -->
<!-- .block-products-carousel -->
<div class="block block-products-carousel" data-layout="grid-4">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">All Products</h3>
            <div class="block-header__divider"></div>
            <ul class="block-header__groups-list">
                <li>
                    <button type="button" class="block-header__group block-header__group--active">All</button>
                </li>
                @*@foreach (var item in Model)
                    {
                        <li>
                            <button type="button" class="block-header__group">@item</button>
                        </li>
                    }*@
            </ul>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                @foreach (var item in Model.AllProducts)
                {
                    <div class="block-products-carousel__column">
                        <div class="block-products-carousel__cell">
                            <div class="product-card">
                                <div class="product-card__image">
                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                        <img src="~/@item.Photos.Where(y=>y.ProductId==item.Id).Select(x=>x.PhotoPath).FirstOrDefault().ToString()" alt="@item.ProductName">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.ProductName</a>
                                    </div>
                                    <div class="product-card__rating">
                                        <div class="product-card__rating-stars">
                                            <div class="rating">
                                                <div class="rating__body">
                                                    @for (int i = 0; i < item.ProductRating; i++)
                                                    {
                                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                            <g class="rating__fill">
                                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                                            </g>
                                                            <g class="rating__stroke">
                                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                            </g>
                                                        </svg>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__prices">$@item.ProductPrice</div>
                                    <div class="product-card__buttons">
                                        <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                            </svg>
                                            <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                        </button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="images/sprite.svg#compare-16"></use>
                                            </svg>
                                            <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- .block-products-carousel / end -->
<!-- .block-products -->
<div class="block block-products block-products--layout--large-first">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Best Rated</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-products__body">
            @{var featuredList = Model.BestRatedProducts.ToArray(); }


            <div class="block-products__featured">
                <div class="block-products__featured-item">
                    <div class="product-card">
                        <div class="product-card__image">
                            <a asp-controller="Product" asp-action="Index" asp-route-id="@featuredList[0].Id">
                                <img src="~/@featuredList[0].Photos.Where(y => y.ProductId == featuredList[0].Id).Select(x => x.PhotoPath).FirstOrDefault().ToString()" alt="@featuredList[0].ProductName">
                            </a>
                        </div>
                        <div class="product-card__info">
                            <div class="product-card__name">
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@featuredList[0].Id">@featuredList[0].ProductName</a>
                            </div>
                        </div>
                        <div class="product-card__actions">
                            <div class="product-card__prices">$@featuredList[0].ProductPrice</div>
                            <div class="product-card__buttons">
                                <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                    <svg width="16px" height="16px">
                                        <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                    </svg>
                                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                </button>
                                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                    <svg width="16px" height="16px">
                                        <use xlink:href="images/sprite.svg#compare-16"></use>
                                    </svg>
                                    <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-products__list">
                @for (int i = 1; i < 7; i++)
                {
                    <div class="block-products__list-item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <a asp-controller="Product" asp-action="Index" asp-route-id="@featuredList[i].Id">
                                    <img src="~/@featuredList[i].Photos.Where(y => y.ProductId == featuredList[i].Id).Select(x => x.PhotoPath).FirstOrDefault().ToString()" alt="@featuredList[i].ProductName">

                                </a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">
                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@featuredList[i].Id">@featuredList[i].ProductName</a>
                                </div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__prices">$@featuredList[i].ProductPrice</div>
                                <div class="product-card__buttons">
                                    <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                        </svg>
                                        <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                    </button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="images/sprite.svg#compare-16"></use>
                                        </svg>
                                        <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- .block-products / end -->
<!-- .block-products-carousel -->
<div class="block block-products-carousel" data-layout="horizontal">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Sale</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                @foreach (var item in Model.OnSaleProducts)
                {
                    <div class="block-products-carousel__column">
                        <div class="block-products-carousel__cell">
                            <div class="product-card">
                                <div class="product-card__image">
                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                        <img src="~/@item.Photos.Where(y=>y.ProductId==item.Id).Select(x=>x.PhotoPath).FirstOrDefault().ToString()" alt="@item.ProductName">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.ProductName</a>
                                    </div>
                                    <div class="product-card__rating">
                                        <div class="product-card__rating-stars">
                                            <div class="rating">
                                                <div class="rating__body">
                                                    @for (int i = 0; i < item.ProductRating; i++)
                                                    {
                                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                            <g class="rating__fill">
                                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                                            </g>
                                                            <g class="rating__stroke">
                                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                            </g>
                                                        </svg>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__prices">$@item.ProductPrice</div>
                                    <div class="product-card__buttons">
                                        <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                            </svg>
                                            <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                        </button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="images/sprite.svg#compare-16"></use>
                                            </svg>
                                            <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- .block-products-carousel / end -->
<!-- .block-posts -->
<div class="block block-posts block-posts--layout--list-sm" data-layout="list-sm">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Latest News</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-posts__slider">
            <div class="owl-carousel">
                @foreach (var item in Model.Slides)
                {
                    <div class="post-card">
                        <div class="post-card__image">
                            <a asp-action="BlogPost" asp-route-id="@item.Id" asp-controller="Blog">
                                <img src="~/@item.Photos.Where(y=>y.BlogId==item.Id).Select(x=>x.PhotoPath).FirstOrDefault().ToString()" alt="Blog Photo">
                            </a>
                        </div>
                        <div class="post-card__info">
                            <div class="post-card__name">
                                <a asp-action="BlogPost" asp-route-id="@item.Id" asp-controller="Blog">@item.BlogTitle</a>
                            </div>
                            <div class="post-card__date">@item.AddedDate</div>
                            <div class="post-card__content">@item.BlogBody.Substring(0, 50)...</div>
                            <div class="post-card__read-more">
                                <a asp-action="BlogPost" asp-route-id="@item.Id" asp-controller="Blog" class="btn btn-secondary btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- .block-posts / end -->