
@{
    ViewData["Title"] = Model.Product.ProductName.Split(" ")[0];
}

@model ProductViewModel

<div class="block">
    <div class="container">
        <div class="product product--layout--standard" data-layout="standard">
            <div class="product__content">
                <!-- .product__gallery -->
                <div class="product__gallery">
                    <div class="product-gallery">
                        <div class="product-gallery__featured">
                            <button class="product-gallery__zoom">
                                <svg width="24px" height="24px">
                                    <use xlink:href="images/sprite.svg#zoom-in-24"></use>
                                </svg>
                            </button>
                            <div class="owl-carousel" id="product-image">
                                @{
                                    List<Photo> photos = Model.Product.Photos.Where(y => y.ProductId == Model.Product.Id).ToList();
                                    foreach (var item in photos)
                                    {
                                        <a href="~/@item.PhotoPath" target="_blank">
                                            <img src="~/@item.PhotoPath" alt="">
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="product-gallery__carousel">
                            <div class="owl-carousel" id="product-carousel">
                                @{
                                    foreach (var item in photos)
                                    {
                                        <a href="~/@item.PhotoPath" class="product-gallery__carousel-item">
                                            <img class="product-gallery__carousel-image" src="~/@item.PhotoPath" alt="">
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .product__gallery / end -->
                <!-- .product__info -->
                <div class="product__info">
                    <h1 class="product__name">@Model.Product.ProductName</h1>
                    <div class="product__rating">
                        <div class="product__rating-stars">
                            <div class="rating">
                                <div class="rating__body">
                                    @for (int i = 0; i < Model.Product.ProductRating; i++)
                                    {
                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__description">@Model.Product.ProductDetails</div>
                    <ul class="product__meta">
                        <li class="product__meta-availability">
                            Availability:
                            @if (Model.Product.IsAvailable)
                            {
                                <span class="text-success">In Stock</span>
                            }
                            else
                            {
                                <span class="text-warning">Unavailable</span>
                            }
                        </li>
                        <li>
                            Brand:
                            <a href="#">@Model.Product.ProductName.Split(" ")[0]</a>
                        </li>
                    </ul>
                </div>
                <!-- .product__info / end -->
                <!-- .product__sidebar -->
                <div class="product__sidebar">
                    <div class="product__prices">$@Model.Product.ProductPrice</div>
                </div>
                <!-- .product__end -->
                <div class="product__footer">
                    <div class="product__share-links share-links">
                        <ul class="share-links__list">
                            <li class="share-links__item share-links__item--type--like">
                                <a href="#">Like</a>
                            </li>
                            <li class="share-links__item share-links__item--type--tweet">
                                <a href="#">Tweet</a>
                            </li>
                            <li class="share-links__item share-links__item--type--pin">
                                <a href="#">Pin It</a>
                            </li>
                            <li class="share-links__item share-links__item--type--counter">
                                <a href="#">4K</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-tabs">
            <div class="product-tabs__list">
                <a href="#tab-description" class="product-tabs__item product-tabs__item--active">Description</a>
                <a href="#tab-specification" class="product-tabs__item">Specification</a>
                <a href="#tab-reviews" class="product-tabs__item">Reviews</a>
            </div>
            <div class="product-tabs__content">
                <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                    <div class="typography">
                        <h3>Product Full Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum, diam non iaculis finibus, ipsum arcu sollicitudin dolor, ut cursus sapien sem sed purus. Donec vitae fringilla tortor, sed fermentum nunc. Suspendisse sodales turpis dolor, at rutrum dolor tristique id. Quisque pellentesque ullamcorper felis, eget gravida mi elementum a. Maecenas consectetur volutpat ante, sit amet molestie urna luctus in. Nulla eget dolor semper urna malesuada dictum. Duis eleifend pellentesque dui et finibus. Pellentesque dapibus dignissim augue. Etiam odio est, sodales ac aliquam id, iaculis eget lacus. Aenean porta, ante vitae suscipit pulvinar, purus dui interdum tellus, sed dapibus mi mauris vitae tellus.</p>
                        <h3>Etiam lacus lacus mollis in mattis</h3>
                        <p>Praesent mattis eget augue ac elementum. Maecenas vel ante ut enim mollis accumsan. Vestibulum vel eros at mi suscipit feugiat. Sed tortor purus, vulputate et eros a, rhoncus laoreet orci. Proin sapien neque, commodo at porta in, vehicula eu elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur porta vulputate augue, at sollicitudin nisl molestie eget.</p>
                        <p>Nunc sollicitudin, nunc id accumsan semper, libero nunc aliquet nulla, nec pretium ipsum risus ac neque. Morbi eu facilisis purus. Quisque mi tortor, cursus in nulla ut, laoreet commodo quam. Pellentesque et ornare sapien. In ac est tempus urna tincidunt finibus. Integer erat ipsum, tristique ac lobortis sit amet, dapibus sit amet purus. Nam sed lorem nisi. Vestibulum ultrices tincidunt turpis, sit amet fringilla odio scelerisque non.</p>
                    </div>
                </div>
                <div class="product-tabs__pane" id="tab-specification">
                    <div class="spec">
                        <h3 class="spec__header">Specification</h3>
                        <div class="spec__section">
                            @Model.Product.ProductDetails
                        </div>
                        <div class="spec__disclaimer">Information on technical characteristics, the delivery set, the country of manufacture and the appearance of the goods is for reference only and is based on the latest information available at the time of publication.</div>
                    </div>
                </div>
                <div class="product-tabs__pane" id="tab-reviews">
                    <div class="reviews-view">
                        <div class="reviews-view__list">
                            <h3 class="reviews-view__header">Comments</h3>
                            <div class="reviews-list">
                                <ol class="reviews-list__content">
                                    @foreach (var item in Model.Product.Comments)
                                    {
                                        <li class="reviews-list__item">
                                            <div class="review">
                                                <div class="review__content">
                                                    <div class="review__author">@item.CommentatorName</div>
                                                    <div class="review__text">@item.CommentBody</div>
                                                    <div class="review__date">@item.AddedDate</div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ol>
                                <div class="reviews-list__pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link page-link--with-arrow" href="#" aria-label="Previous">
                                                <svg class="page-link__arrow page-link__arrow--left"
                                                     aria-hidden="true"
                                                     width="8px"
                                                     height="13px">
                                                    <use xlink:href="images/sprite.svg#arrow-rounded-left-8x13"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">
                                                2
                                                <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link page-link--with-arrow" href="#" aria-label="Next">
                                                <svg class="page-link__arrow page-link__arrow--right"
                                                     aria-hidden="true"
                                                     width="8px"
                                                     height="13px">
                                                    <use xlink:href="images/sprite.svg#arrow-rounded-right-8x13"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @*<form class="reviews-view__form">
                            <h3 class="reviews-view__header">Write A Review</h3>
                            <div class="row">
                                <div class="col-12 col-lg-9 col-xl-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="review-stars">Review Stars</label>
                                            <select id="review-stars" class="form-control">
                                                <option>5 Stars Rating</option>
                                                <option>4 Stars Rating</option>
                                                <option>3 Stars Rating</option>
                                                <option>2 Stars Rating</option>
                                                <option>1 Stars Rating</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="review-author">Your Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="review-author"
                                                   placeholder="Your Name">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="review-email">Email Address</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="review-email"
                                                   placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="review-text">Your Review</label>
                                        <textarea class="form-control" id="review-text" rows="6"></textarea>
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn btn-primary btn-lg">Post Your Review</button>
                                    </div>
                                </div>
                            </div>
                        </form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-products-carousel -->
<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Related Products</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                @foreach (var item in Model.RelatedProducts)
                {
                    <div class="block-products-carousel__column">
                        <div class="block-products-carousel__cell">
                            <div class="product-card">
                                <div class="product-card__image">
                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                                        <img src="~/@item.Photos.Where(y=>y.ProductId==item.Id).Select(x=>x.PhotoPath).FirstOrDefault().ToString()" alt="@item.ProductName">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">@item.ProductName</a>
                                    </div>
                                    <div class="product-card__rating">
                                        <div class="product-card__rating-stars">
                                            <div class="rating">
                                                <div class="rating__body">
                                                    @for (int i = 0; i < item.ProductRating; i++)
                                                    {
                                                        <svg class="rating__star rating__star--active" width="13px" height="12px">
                                                            <g class="rating__fill">
                                                                <use xlink:href="images/sprite.svg#star-normal"></use>
                                                            </g>
                                                            <g class="rating__stroke">
                                                                <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
                                                            </g>
                                                        </svg>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__prices">$@item.ProductPrice</div>
                                    <div class="product-card__buttons">
                                        <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="images/sprite.svg#wishlist-16"></use>
                                            </svg>
                                            <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                        </button>
                                        <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                                            <svg width="16px" height="16px">
                                                <use xlink:href="images/sprite.svg#compare-16"></use>
                                            </svg>
                                            <span class="fake-svg-icon fake-svg-icon--compare-16"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<!-- .block-products-carousel / end -->
